@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 64% 7%; /* #06141B */
    --foreground: 170 3% 81%; /* #CCD0CF */

    --card: 206 45% 12%; /* #11212D */
    --card-foreground: 170 3% 81%;

    --popover: 206 45% 12%;
    --popover-foreground: 170 3% 81%;

    --primary: 189 9% 64%; /* #9BA8AB */
    --primary-foreground: 200 64% 7%;

    --secondary: 207 30% 21%; /* #253745 */
    --secondary-foreground: 170 3% 81%;

    --muted: 207 30% 21%;
    --muted-foreground: 208 18% 35%; /* #4A5C6A */

    --accent: 207 30% 21%;
    --accent-foreground: 170 3% 81%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 207 30% 21%;
    --input: 207 30% 21%;
    --ring: 189 9% 64%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-kcm-dark/60;
  }

  body {
    @apply bg-kcm-darkest text-kcm-lightest;
  }
}